$partitionSelectorHeight: 50px;

.partition-selector {
  position: relative;
  width: 100%;
  height: $partitionSelectorHeight + 2;
  border: 1px solid black;
  box-sizing: border-box;
  & .cell {
    float: left;
    height: $partitionSelectorHeight;
    background-color: lightpink;
    position: relative;
    user-select: none;
    &.resizing {
      border-color: blue;
    }
    & .handle {
      position: absolute;
      right: -5px;
      top: 0;
      height: $partitionSelectorHeight + 10;
      width: 10px;
      background-color: orange;
      cursor: ew-resize;
      z-index: 999;
      &.dragging {
        background-color: purple;
      }
    }
  }
  & .marker {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 1px;
    background-color: black;
    &.marker-major {
      width: 2px;
      height: 30px;
    }
  }
}