$arrowHeadHeight: 4px;
$partitionBorderRadius: 4px;
$partitionSelectorHeight: 50px;
$workHoursPartitionHeight: 20px;
$workHoursMarginHeight: 8px;
$workHoursMarginMajorHeight: 14px;

body, html {
  font-family: Arial, sans-serif;
}

body {
  padding-top: 70px;
}

// TODO: Refactor CSS to not talk about bootstrap classes

.PartitionSelector {
  position: relative;
  width: 100%;

  // border: 1px solid black;
  box-sizing: border-box;
  // margin-bottom: 18px;
  & .progress {
    overflow: visible;
    height: $partitionSelectorHeight;
    &.PartitionSelector_invalid {
      box-shadow: 0 0 4px 2px rgb(213, 19, 0);
    }
  }
  & .PartitionSelector_cell {
    transition: none;
    // background-color: lightpink;
    position: relative;
    user-select: none;
    &:first-child {
      border-top-left-radius: $partitionBorderRadius;
      border-bottom-left-radius: $partitionBorderRadius;
    }
    &:last-child {
      border-top-right-radius: $partitionBorderRadius;
      border-bottom-right-radius: $partitionBorderRadius;
    }
    &.PartitionSelector_resizing {
      border-color: blue;
    }
    & .PartitionSelector_handle {
      position: absolute;
      right: 0;
      top: 0;
      height: $partitionSelectorHeight;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: ew-resize;
      z-index: 999;
      &::after {
        content: "";
        width: 11px;
        position: absolute;
        left: - $arrowHeadHeight;
        top: 0;
        height: 100%;
        background-color: #fff;
        opacity: 0;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: - $arrowHeadHeight - 1px;
        left: - $arrowHeadHeight;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-left-width: $arrowHeadHeight;
        border-right-width: $arrowHeadHeight;
        border-bottom-width: $arrowHeadHeight;
        border-bottom-color: rgba(0, 0, 0, 0.6);
      }
      &.PartitionSelector_dragging {
        background-color: rgb(0, 0, 0);
      }
    }
    & .PartitionSelector_draggable {
      width: 100%;
      height: 100%;
    }
    & .PartitionSelector_tooltip {
      position: absolute;
      left: 50%;
      top: calc(100% + 9px);
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      font-size: 0.8em;
      padding: 4px 8px;
      line-height: 1.1em;
      margin-top: 6px;
      border-radius: 6px;
      display: none;
      z-index: 999;
      pointer-events: none;
      &::after {
        content: "";
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-bottom-width: 5px;
        border-left-width: 5px;
        border-right-width: 5px;
        border-bottom-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: -5px;
        left: calc(50% - 5px);
      }
    }
    &:hover .PartitionSelector_tooltip {
      display: block;
    }
  }
  & .PartitionSelector_marker {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 1px;
    background-color: rgb(94, 93, 93);
    pointer-events: none;
    &.PartitionSelector_marker_major {
      width: 2px;
      height: 30px;
    }
  }
  & .PartitionSelector_label {
    position: absolute;
    top: calc(100% + 5px);
    font-size: 60%;
    color: rgb(94, 93, 93);
    transform: translateX(-50%);
    user-select: none;
    white-space:nowrap;
  }
}

.ReactTimesheet_work_hours_select {
  & .PartitionSelector_parts {
    height: $workHoursPartitionHeight;
  }
  & .PartitionSelector_marker {
    height: $workHoursMarginHeight;
    &.PartitionSelector_marker_major {
      height: $workHoursMarginMajorHeight;
    }
  }
  & .PartitionSelector_cell {
    & .PartitionSelector_handle {
      height: $workHoursPartitionHeight;
    }
  }
}

.ReactTimesheetTable_day_table {
  & input.ReactTimesheetTable_invalid {
    border-color: red;
    box-shadow: 0 0 5px red;
  }
  & td {
    position: relative;
    & .ReactTimesheetTable_row_color {
      background-color: rgb(238, 238, 238);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.ReactTimesheet_part_day {
  display: flex;
  flex-direction: row;
  & .ReactTimesheet_part_titles {
    position: relative;
    width: $partitionSelectorHeight * 0.9;
    height: $partitionSelectorHeight;
    & .ReactTimesheet_part_shortname {
      font-size: $partitionSelectorHeight / 4;
      line-height: $partitionSelectorHeight / 3;
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 0;
      left: 0;
    }
    & .ReactTimesheet_part_dayNumber {
      font-size: $partitionSelectorHeight * 4 / 9;
      line-height: $partitionSelectorHeight * 2 / 3;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
    }
  }
  & .ReactTimesheet_part_selectors {
    flex-grow: 1;
  }
  & .ReactTimesheet_work_hours_toggle {
    width: 30px;
    text-align: right;
    & input {
      width: 20px;
      height: 20px;
    }
    & label span {
      display: none;
    }
  }
}

// TODO: Remove this, make it namespaced
input[type="time"][readonly] {
  background-color: #eee;
}

.ReactTimesheetDock_types {
  border-bottom-width: 0;
}

.ReactTimesheetDock_panel {
  height: 80vh;
  overflow-y: auto;
  & .ReactTimesheetDock_item{
    position: relative;
    & .ReactTimesheetDock_item_badge,
    & .ReactTimesheetDock_item_value {
      margin-right: 5px;
    }
    & .ReactTimesheetDock_item_color {
      background-color: rgb(238, 238, 238);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 10px;
    }
    & .PartitionSelector_draggable {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

    }
  }
}
